[Unit]
Description=Gunicorn for Flask app01
After=network.target

[Service]
User=vagrant
Group=vagrant
WorkingDirectory=/home/vagrant/flask_apps/app01_env
Environment="PATH=/home/vagrant/flask_apps/app01_env/bin"
ExecStart=/home/vagrant/flask_apps/app01_env/bin/gunicorn --config=gunicorn_config.py wsgi:hello

[Install]
WantedBy=multi-user.target
